
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');




.button {
    -fx-padding: 0;
    -fx-background-color:  #aaafb3;
    -fx-background-radius: 3px;
}

.toggle-button {
    -fx-background-color: black;
    -fx-border-color: #787c7f;
    -fx-text-fill: white;
    -fx-padding:4px;
    -fx-border-radius: 2px;

}



.toggle-button-light {
    -fx-background-color: white;
    -fx-border-color: #787c7f;
    -fx-text-fill: black;
    -fx-padding:4px;
    -fx-border-radius: 2px;
}

.button-play-again {
    -fx-background-color: #6ca965;
    -fx-border-color: #6ca965;
    -fx-text-fill: white;
    -fx-padding:4px;
    -fx-border-radius: 2px;
}





.blankBox {

    -fx-border-color: #787c7f;
}



.greenBox{
    -fx-background-color: #6ca965;
    -fx-border-color: #6ca965;
    -fx-text-fill: white;
}

.yellowBox{
    -fx-background-color: #c8b653;
    -fx-border-color: #c8b653;
    -fx-text-fill: white;

}

.greyBox{
    -fx-background-color: #787c7f;
    -fx-border-color: #787c7f;
    -fx-text-fill: white;
}

.resultMessage {
    -fx-background-color: #6ca965;
    -fx-text-fill: green;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-color: green;
}

.resultMessageFailed {
    -fx-background-color: #ff4545;
    -fx-text-fill: #9f0000;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-color: #9f0000;
}

.header {

    -fx-font-family:"Crete Round", serif;
    -fx-font-weight: 400;
    -fx-padding: 5px;
    -fx-font-size: 30;


}



.footer {

    -fx-font-family:"Crete Round", serif;
    -fx-font-weight: 400;
    -fx-padding: 5px;
    -fx-font-size: 15;


}



.buttonUsed {
    -fx-padding: 0;
    -fx-background-color:  #787c7f;
    -fx-background-radius: 3px;

}

.lightMode {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.darkMode {
    -fx-background-color: black;
    -fx-text-fill: white;
}